desafio-js-projeto_inicial -1/
desafio-js-projeto_inicial -2/
desafio-js-projeto_inicial -3/
desafio-js-projeto_inicial -4/
js-curso-2-desafio -2/
js-curso-2-desafio -3/
js-curso-2-desafio_1 -1/
logica-js-projeto -4/
logica-js-projeto_inicial -1/
ola_mundo.py
PLANO DE ESTUDO E CURSOS PARA VIRAR PROGRAMADOR.txt